.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f0f0f0;
}

.header #username-display {
    font-weight: bold;
}

#logout-button {
    width: auto;
    margin: 0;
}

.content {
    text-align: center;
    width: 320px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: calc(100vh - 90px);
}

.input-field {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 5px;
}

.input-row {
    display: flex;
    justify-content: space-between;
}

.input-group {
    width: 48%;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

#checkboxes {
    text-align: left;
    margin-bottom: 20px;
}

#checkboxes label {
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
}

#positions-list {
    text-align: left;
    width: 100%;
}

.position-item {
    margin-bottom: 10px;
    border: 1px solid #ddd;
}

.position-item div:first-child {
    font-weight: bold;
    text-align: left;
    padding: 4px 8px;
    background: #ddd;
}

.position-item div:nth-child(2) {
    display: flex;
    align-items: center;
    margin: 4px; /* Змінено padding на margin */
}

.delete-button {
    margin-left: auto;
    padding: 5px 10px;
    font-size: 14px;
    background-color: #ddd;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-button {
    margin: 0 4px 4px;
    padding: 5px 10px;
    font-size: 14px;
    background-color: #ddd;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
